django
djangorestframework
Pillow
django-allauth
python-decouple

django-anymail

django-widget-tweaks

#for dummy data
Faker


##DONT FORGET TO DELETE THE DUMMY DATA OR CHANGE DB, ALSO DELETE THE MANAGEMENT, COMMANDS FOLDER 