{% extends "base/layout.html" %}
{% load static %}
{% block content %}
  <div class="container py-5">
    <h1 class="text-center mb-4">WHICH ONE ARE YOU??</h1>
    
    <div class="row row-cols-1 row-cols-md-2 g-2">
      
      <div class="col">
        <div class="card shadow text-center p-3">
          <img src="{% static 'images/Innovation-pana.png' %}" class="rounded-circle mx-auto d-block mt-3" width="150" height="150" alt="Job Seeker">
          <div class="card-body">
            <h5 class="card-title">ARE YOU LOOKING FOR A JOB?</h5>
            <a href="{% url 'worker-register' %}" class="btn btn-outline-primary">Register as a job seeker</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow text-center p-3">
          <img src="{% static 'images/Businessman-bro.png' %}" class="rounded-circle mx-auto d-block mt-3" width="150" height="150" alt="Employer">
          <div class="card-body">
            <h5 class="card-title">DO YOU WANT TO POST A JOB?</h5>
            <a href="{% url 'employer-register' %}" class="btn btn-outline-success">Register as an employer</a>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
