<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wrong page</title>
    {% load static %}
    <style>
        body {
            background-color: #111;
            color: #eee;
            font-family: sans-serif;
            text-align: center;
            padding: 50px;
        }
        img {
            max-width: 100%;
            height: auto;
            margin-top: 20px;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <h1>Page 404</h1>
    <p>You self weytin you dy find for here lol!!</p>
    <img src="{% static 'images/weytinyoudyfind.jpeg' %}" alt="Weytin you dy find">
</body>
</html>
